@font-face {
    font-family: Fira Sans;
    src: url('../fonts/FiraSans-Regular.ttf');
}

@font-face {
    font-family: Fira Sans;
    src: url('../fonts/FiraSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Fira Sans;
    src: url('../fonts/FiraSans-Light.ttf');
    font-weight: 300;
}

body {
    color: #222;
    font-family: 'Fira Sans';
    overflow-x: hidden;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    position: relative;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #E3514B;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    color: #203574;
    margin-bottom: 70px;
}

h4 {
    font-size: 24;
    font-weight: 300;
}

section {
    min-height: 100vh;
}

.container {
    padding: 120px 40px;
}

.intro-img {
    background: url('../img/img1.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.btn-main {
    background: #E3514B;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    border-radius: 0px;
}

.main-description{
    background:#203574;
    color: #fff;
    padding: 13em 10%;
}

.main-description h1 {
    margin-bottom: 100px;
}

.main-description h1>span{
    color: #E3514B;
    position: absolute;
    top: 0.3em;
    left: 2.5em;
    font-size: 1.5em;
}

.main-description p {
    margin-bottom: 40px;
}

/* Parallax */

.parallax {
    height: 100vh;
    margin: 0 -15px;
}

.para-01 {
    background: url('../img/img2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para-02 {
    background: url('../img/img3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ABOUT */

.author-img {
    border-radius: 50%;
    border: 5px solid #E3514B;
    box-shadow: inset 0px 0px 0px 8px #fff;
    background: url('../img/diego.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

/* CONTENIDOS */

#contents {
    position: relative;
    transform: skew(40deg 0deg);
}

.circle-item {
    max-width: 500px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
}

.circle-img {
    border-radius: 50%;
    border: 3px solid #E3514B;
    background: #fff;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.circle-title {
    background: #E3514B;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    margin: -5px 0 0 -25px;
    max-width: 180px;
}

.circle-container {
    position: relative;
    width: 40em;
    height: 40em;
    padding: 4em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
    border: 2px dashed #203574;
    background:none;
    border-radius: 50%;
    margin: 0 auto;
}

.circle-container-title {
    width: 34em;
    height: 34em;
    position: absolute;
    top: 8%;
    left: 8%;
    background: #203574;
    box-shadow: inset 0px 0px 0px 30px #ffffff79;
    padding: 13em 5em;
    border-radius: 50%;
    /* border: 20px solid #E3514B; */
}

.circle-container-title h2 {
    color: #fff !important;
}

.item01 { transform: rotate(275deg) translate(23em) rotate(-275deg); }
.item02 { transform: rotate(293deg) translate(22em) rotate(-293deg); }
.item03 { transform: rotate(311deg) translate(21em) rotate(-311deg); }
.item04 { transform: rotate(330deg) translate(20em) rotate(-330deg); }
.item05 { transform: rotate(350deg) translate(19em) rotate(-350deg); }
.item06 { transform: rotate(10deg) translate(18em) rotate(-10deg); }
.item07 { transform: rotate(32deg) translate(17em) rotate(-32deg); }
.item08 { transform: rotate(57deg) translate(17em) rotate(-57deg); }
.item09 { transform: rotate(85deg) translate(19em) rotate(-85deg); }


#getnow {
    background: #203574;
    line-height: 42px !important;
}

#getnow h1 {
    color: #fff;
}

.mainbox{
    background:#fff;
    margin: 60px 0 30px 0;
    padding: 25px;
    width: 100%;
}

.mainbox img {
    max-width:120px;
    margin: 15px auto;
}

.mainbox h2 {
    font-size: 26px;
    margin-bottom: 25px;
}

.mainbox h5 {
    font-weight: bold;
    color: #8F9AB9;
    line-height: 50px !important;
}

.first-box {
    padding: 75px 20px 20px 20px;
}

.box {
    padding: 25px;
    border: 1px solid #f0f0f0;
}

img {
    max-width: 100%;
}
