@media screen and (max-width: 720px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 1199px) {
    .first-box {
        display: none !important;
    }

    .circle-container {
        display: none !important;
    }

    .contents-box {
        display: block;
    }

    .content-item{
        margin: 15px 0;
    }

}

@media screen and (min-width: 1200px) {
    .contents-box {
        display: none;
    }
}